.general{
    display: flex;
    margin-left: 80px;

}
.mainCont{

    display: flex;
    margin-top: 100px;
    border: none;
    border-radius: 45px;
}

.description{
     display: flex;
    column-gap: 70px;
    margin-bottom: 27px;

}
.description1{
    display: flex;
    column-gap: 48px;
}
.group1 ,.group2,.group3,.group4{
    display: flex;

}

.iconPic {
    color: #d9ebde;
    width: 60%

}
.majorDiv{
    margin-left: 75px;
    margin-bottom: 40px;
}
.iconPic2{
    width: 60%;
}
.iconPic3{

    width: 60%;
}

.iconPic4{
    width: 60%;
}